In [2]:
import pandas as pd

In [17]:
df =pd.read_csv("Real.csv")

C:\Users\user\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (9,10,11,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [66]:
print ("this dataset represents Maryland's total residential sales from 2002 to 2018.")
print("")
print ("our model purpose is - given the year the real estate was sold,the city it was sold in and the price it sold for,the model will predict the proprety type varying between:Condo,V,R,Single Family and Two Family.")

this dataset represents Maryland's total residential sales from 2002 to 2018.

our model purpose is - given the year the real estate was sold,the city it was sold in and the price it sold for,the model will predict the proprety type varying between:Condo,V,R,Single Family and Two Family.

In [69]:
print ("we will delete the following columns from our dataframe: Serial Number,Residential Type,Non Use Code,Assessor Remarks,         OPM remarks and Location.")
print ("we decided to delete these colums because we belive they are irelevent for our model.")

we will delete the following columns from our dataframe: Serial Number,Residential Type,Non Use Code,Assessor Remarks,         OPM remarks and Location.
we decided to delete these colums because we belive they are irelevent for our model.

In [68]:
df

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location
0,19029,2019,10/31/2019,Ansonia,23 ROBERT BARRY RD,202200.0,284000.0,0.7120,Single Family,Single Family,NaN,NaN,NaN,POINT (-73.057015 41.33922)
1,190189,2019,04/07/2020,Avon,23 RIVER MEAD,134460.0,173800.0,0.7736,Condo,Condo,NaN,NaN,NaN,NaN
2,190352,2019,08/06/2020,Avon,204 LOVELY STREET,207450.0,317500.0,0.6534,Single Family,Single Family,NaN,NaN,NaN,POINT (-72.88939 41.800471)
3,190033,2019,12/03/2019,Beacon Falls,73 HILLVIEW STREET,111480.0,229900.0,0.4849,Single Family,Single Family,NaN,NaN,NaN,NaN
4,190056,2019,05/13/2020,Bethany,200 RUSSELL DR,323020.0,560000.0,0.5768,Single Family,Single Family,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
930616,1800046,2018,10/09/2018,Stamford,66 MAPLE TREE AVENUE # 5,145860.0,214350.0,0.6804,Residential,Condo,NaN,NaN,NaN,POINT (-73.513445 41.071719)
930617,180600,2018,05/20/2019,West Hartford,94 WESTGATE STREET,124320.0,176000.0,0.7063,Residential,Single Family,NaN,NaN,NaN,POINT (-72.738513 41.728826)
930618,18297,2018,08/28/2019,Stafford,51 OLD SPRINGFIELD RD,1081710.0,37000.0,29.2354,Commercial,NaN,08 - Part Interest,SALE OF CAMPSITE IN A COOP CAMPGROUND,NaN,NaN
930619,18035,2018,11/02/2018,Ridgefield,44 STANDISH DR,474880.0,725000.0,0.6550,Residential,Single Family,NaN,NaN,NaN,POINT (-73.47121 41.284888)
930620,180368,2018,06/14/2019,Southbury,527 B HERITAGE VILLAGE,55290.0,90000.0,0.6143,Residential,Condo,NaN,NaN,NaN,POINT (-73.224506 41.49933)